
@font-face {
    font-family: 'Mars Attacks';
    font-style: normal;
    font-weight: normal;
    src: local('Mars Attacks'), url('Mars Attacks.woff') format('woff');
    }

#america-title {
text-align: center;
font-size: 150px;
margin: 0;
}

#unclesam {
    width: 30%;

    margin: 100px 10px 0 50px
}

#map {
    width: 80%;
    margin: auto;
}


form {
    width: 50%;
    float: right;
    margin: 100px 50px 0 10px
}
